.background    { background: rgb(131, 174, 132);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb( 0, 51, 102); }
.wall          { background: rgb(255, 198, 82);   }

.floater       {background: rgb(95, 2, 31);}
.game {
  position: relative;
}
